<section class='title-container'>
  <h1 class='title-text'>Instances Edit Page</h1>
</section>
<%= simple_form_for :instance, url: instance_path(@instance), method: 'PATCH', class: 'taxomap-form' do |f| %>
  <div class="form__label-row">
    <div class="col">
      <%= f.label :type, class: 'form__label' %>
    </div>
    <div class="col">
      <%= f.collection_select :parent, Concept.all, :uuid, :title, { :include_blank => true, selected: @concept&.parent&.uuid},  class: 'form__select'  %>
    </div>
  </div>
  <div class="form__label-row">
    <div class="col">
    </div>
    <div class="col">
      <%= f.submit 'Edit Instance', class: 'primary-button' %>
    </div>
  </div>
<% end %>

