<h1>Docs Index Page</h1>
<table>
  <thead> 
    <tr>
      <th>UUID</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Title</th>
    </tr>
  </thead>
  <% @docs.each do |d| %>
    <tr>
      <td><%= d.uuid %></td>
      <td><%= d.created_at %></td>
      <td><%= d.updated_at %></td>
      <td><%= d.title %></td>
    </tr>
  <% end %>
  </table>
